<div class="wrapper a">
    <h1>Lessons</h1>

    <% Lesson.all.each do |l| %>

    <div>
        <h3>
            <a href="/lessons/<%= l.id %>">
                <%= l.student.name %>
            </a>
        </h3>
        
        <p><%= l.teacher.name %><br>
        <%= l.campus %><br>
        <%= l.day %><br>
        <%= l.time %></p>
    </div>
    <% end %>
    <br>
    <br>
    <a href="/students/new">
        <button>New Student</button>
    </a>
</div>