<h1>Lessons</h1>

<% Lesson.all.each do |l| %>
<div>
    <a href="/lessons/<%= l.id %>">
        <h3><%= l.student.name %></h3>
    </a>
    <p><%= l.teacher.name %><br>
    <%= l.campus %><br>
    <%= l.day %><br>
    <%= l.time %></p>
</div>
<% end %>
<br>
<br>
<a href="/students/new">
    <button>New Student</button>
</a>