<div class="wrapper-single">
    <h1>New Lesson</h1>

    <form action="/lessons" method="POST">
        <label for="time">Time: </label>
        <input type="text" name="time">
        
        <label for="day">Day: </label>
        <input type="text" name="day">
        <br>

        <h4>Campus</h4>
        <% Admin.all.each do |a| %>
            <input type="radio" name="campus" value="<%= a.campus %>"><%= a.campus %></input><br>
        <% end %>
        <br>

        <h4>Current Lesson Teachers</h4>
        <% Teacher.all.each do |t| %>
            <input type="radio" name="teacher_id" id="<%= t.id %>" value="<%= t.id %>"><%= t.name %> - <%= t.admin.campus %></input><br>
        <% end %>
        <br>

        <h4>Current Students</h4>
        <% Student.all.each do |s| %>
            <input type="radio" name="student_id" id="<%= s.id %>" value="<%= s.id %>"><%= s.name %></input><br>
        <% end %>
        <br>
        
        <input class="submit" type="submit" value="Submit" id="submit">
    </form>
</div>