<h1><%= @teacher.name %></h1>
<p>List of all students who study with <%= @teacher.name %>.</p>

<% @teacher.lessons.each do |l| %>
<div>
    <h3><%= l.student.name %></h3>
    <p><%= l.student.email %><br>
    <%= l.student.grade %>th Grade<br>
    <%= l.campus %><br>
    <%= l.day %><br>
    <%= l.time %></p>
</div>
<% end %>
<a href="/teachers/<%= @teacher.id%>/edit">
    <button>Edit Teacher</button>
</a>
<br>
<br>
<form method="post" action="/teachers/<%= @teacher.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="DELETE TEACHER">
</form>